{% load static %}
<div id="posts-view" class="">
  <h2>{{header}}</h2>
  {% for post in posts %}
    <div id="{{ post.id }}" class="border rounded">
      <a href="{% url 'profile' post.user %}">
      <h5><strong>{{ post.user }}</strong></h5></a>
        {% if user.id == post.user.id %}
          <button class="btn btn-link" type="button" onClick="editPost({{post.id}})">Edit</button>
        {% endif %}
      <div id="post{{ post.id }}-text">{{ post.post }}</div>
      <span><small>{{ post.created }}</small></span><br>
      <img src="{% static 'network/img/Instagram-Like-Icon-72x72.png' %}" width="20px">
      <span id="likes-counter-{{post.id}}">{{ post.likes_counter }}</span>
      <button id="like" class="btn btn-light btn-sm" onClick="vote(this, {{user.id}}, x='like')">Like</button>
      <button id="unlike" class="btn btn-light btn-sm" onClick="vote(this, {{user.id}}, x='unlike')">Unlike</button>
    </div>
  {% endfor %}

  {% include 'network/pagination.html' %}
  </div>
