{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}

{% load static %}
    <h3>{{ username }}'s Profile: </h3>
    <p id="num_followers">Followers: {{ followers }}</p>
    <p id="num_follow">Follow: {{ follow }}</p>
    {% if user.username != username %}
      <button type="button" class="btn btn-primary btn-sm" onClick="follow({{curent_user_id}}, x='follow')">Follow</button>
      <button type="button" class="btn btn-primary btn-sm" onClick="follow({{curent_user_id}}, x='unfollow')">Unfollow</button>
      <br><br>
    {% endif %}

{% include 'network/posts.html' %}
{% endif %}
{% endblock %}
